*{
	background-color: #0d0d0d;
	font-family: 'Satisfy', cursive;
}

.monkey{
	display:block;
	margin:auto;
	margin-top:1vh;
	margin-bottom:3vh;
	max-height:75vh;
	width: auto;
	height: auto;
	border: 4px solid white;
}

.monkey:hover{
}

.photo:nth-child(odd) {
	transform: rotate(-1deg);
}

.photo:nth-child(even) {
	transform: rotate(1deg);
}

h1{
	color:#f2f2f2;
	font-size:350%;
	background-color:rgba(0,0,0,0);
	margin:auto;
}

ul{
	display:block;
	text-align:center;
	list-style-type: none;
	margin-bottom:9vh;
	position:relative;
	bottom:45vh;
	z-index:99;
	background-color: rgba(0,0,0,0);
}

li{
	margin: 0 20px;
	color:#f2f2f2;
	font-size:9vh;
	background-color: rgba(0,0,0,0);
}

.navbar{
	position: fixed;
	top: 0;
	z-index:99;
	background-color:rgba(0,0,0,0);
	display:block;
	width:100%;
	text-align:center;
	margin-top:3vh;
}

.flex-container {
	margin-top:5vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.photo:nth-child(1){
	margin-top:20vh;
}
.photo:nth-child(2){
	margin-top:20vh;
}
@media screen and (max-width: 980px) {
	.flex-container{
		flex-direction:column;
	}
	.photo:nth-child(1){
		margin-top:12vh;
	}
	.photo:nth-child(2){
		margin-top:1vh;
	}
	.monkey{
		margin-bottom:4vh;
		margin-top:4vh;
		max-height:50vh;
		width:auto;
		justify-content: space-between;
	}
	ul{
		margin-bottom:1vh;
		bottom:35vh;
	}
	.navbar{
		position:fixed;
		display:block;
		margin:auto;
		text-align:center;
		width:100%;
		margin-top:3vh;
	}
	h1{
		display:block;
		font-size:8vh;
	}

	li{
		font-size:6vh;
	}

}
